* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: row;
    background-color: #1F1D36;
    width: 20%;
    height: 100%;
}

.navBar{
    display: flex;
    flex-direction: column;
    width: 7%;
    background-color: #3F3351;
}

.navBar:hover {
    width: 20%;
}


.todayTasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.todayTasks h1{
    width: 100%;
    margin-top: 20%;;
    margin-left: 40%;
    font-size: 160%;
    color: #720455;
}

.addTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E9A6A6;
    padding: 3%;
    padding-right: 25%;
    margin-top: 20%;
    margin-bottom: 5%;
    margin-left: -38%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.addTask p{
    margin-right: 20%;
    white-space: nowrap
}


.task {
    display: flex;
    flex-direction: row;
    background-color: #864879;
    width: 80%;
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
}
